@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* === TEMEL RENKLER === */
  --primary-color: #6132ad;
  --secondary-color: #1E1E1E;
  --accent-color: #F4A261;
  --highlight-color: #56B4D3;

  --primary-light: #A8E6A3;
  --primary-dark: #564f9b;
  --accent-light: #F7B97D;
  --accent-dark: #615a9b;
  --highlight-light: #5247af;
  --highlight-dark: #463d8c;

  --background-color: #F9FAFB;
  --surface-color: #FFFFFF;
  --text-color: #333333;
  --muted-text: #6B7280;

  --border-color: #E5E7EB;
  --shadow-color: rgba(0, 0, 0, 0.05);

  --header-bg: #FFFFFF;
  --footer-bg: #F3F4F6;
  --card-bg: #FFFFFF;
  --card-hover-bg: #F8FAFC;
  --button-text-color: #FFFFFF;
  --transition-speed: 0.3s;
}

body.dark {
  --primary-color: #4535bd;
  --secondary-color: #E5E7EB;
  --accent-color: #E68A4E;
  --highlight-color: #4AA5C9;

  --background-color: #0E0E0E;
  --surface-color: #1C1C1C;
  --text-color: #F3F4F6;
  --muted-text: #9CA3AF;

  --border-color: #2D2D2D;
  --shadow-color: rgba(0, 0, 0, 0.4);

  --header-bg: #161616;
  --footer-bg: #181818;
  --card-bg: #1E1E1E;
  --card-hover-bg: #252525;
  --button-text-color: #FFFFFF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 0.2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;

}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

/* Başlıklar */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

section {
  display: block;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  align-content: center;
}

button {
  background-color: transparent;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
}


button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select:focus {
  outline: none;
}


@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}


@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 420px;
  }
}